[run]
branch = True
source =
    apps.bugboardapi
omit =
    */migrations/*
    */tests/*
    */__init__.py
    */management/__init__.py
    */management/commands/__init__.py

[report]
show_missing = True
skip_covered = True
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    raise NotImplementedError

[html]
directory = coverage/htmlcov
