[run]
branch = True
relative_files = True
source =
    apps
    config
omit =
    */migrations/*
    apps/bugboardapi/tests/*
    apps/bugboardapi/management/commands/*
    wsgi.py

[report]
omit =
    */migrations/*
    apps/bugboardapi/tests/*
    apps/bugboardapi/management/commands/*
    wsgi.py

