[run]
branch = True
relative_files = True
source =
    apps
    config
omit =
    */migrations/*
    apps/bugboardapi/tests/*
    manage.py

[report]
omit =
    */migrations/*
    apps/bugboardapi/tests/*
    manage.py
